# lab 12 data analysis in python

In [5]:
import pandas as pd

df = pd.read_excel('s3://blubaugh-241-python/house_price.xls')

df.head(10)

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282
2,995,229900,3,2,single-family home,13504,1988,1456,76,947
3,996,359000,5,4,single-family home,10130,1997,2903,79,951
4,999,394000,3,2,single-family home,18295,2001,2616,73,709
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328
7,1003,134900,2,2,townhouse,2300,1994,920,56,328
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137

In [3]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 4.6 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

# 3.1

In [13]:
df['unit price'] = df['price']/df['area']

df.head(10)

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,unit price
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357,149.188838
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282,82.817680
2,995,229900,3,2,single-family home,13504,1988,1456,76,947,157.898352
3,996,359000,5,4,single-family home,10130,1997,2903,79,951,123.665174
4,999,394000,3,2,single-family home,18295,2001,2616,73,709,150.611621
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366,90.883117
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328,148.500000
7,1003,134900,2,2,townhouse,2300,1994,920,56,328,146.630435
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362,97.966728
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137,104.097222

# 3.2

In [14]:
df['house_type'].value_counts()

single-family home    36
townhouse              3
condo                  2
Name: house_type, dtype: int64

# 3.3

In [25]:
print('the avg price is ${}'.format(df.loc[df['bathroom'] > 2]['price'].mean()))

the avg price is $383645.45454545453

# 3.4

In [38]:
print('median price is ${:,g}'.format(df['unit price'].median()))

median price is $130.134

In [34]:
df['unit price'].mean()

167.45934522134766

# 3.5

In [58]:
df.groupby('house_type').mean()['unit price']

house_type
condo                 113.666272
single-family home    173.472594
townhouse             131.162407
Name: unit price, dtype: float64

# 3.6

In [42]:
from scipy import stats

In [59]:
model = stats.linregress(df['area'],df['price'])

In [60]:
print('slope is {}'.format(model.slope))
print('intercept is {}'.format(model.intercept))
print('r square is {:2f}'.format(model.rvalue**2))
print('p value is {:2f}'.format(model.pvalue))

slope is 79.95495729411489
intercept is 156254.76245096227
r square is 0.234390
p value is 0.001340

# 3.7

In [61]:
print('the price of a 2,000 sqft house is ${:,g}'.format( 2000*model.slope+model.intercept))

the price of a 2,000 sqft house is $316,165